Source: doover-cli
Section: misc
Priority: extra
Maintainer: Doover Team <developers@doover.com>
Build-Depends: debhelper (>= 11~),
               dh-python,
               python3-all,
               python3-setuptools
Homepage: https://doover.com
Standards-Version: 4.1.1

Package: doover-cli
Architecture: all
Depends: python3,
  ${misc:Depends}
  ${python3:Depends}
  python3-paramiko,
  python3-pydoover,
  python3-requests,
  python3-typer

Description: Doover CLI
